<div bb-page ng-init="checkStepTitle('Review')">
  <div bb-item-details>

    <h1>Review</h1>

    <div bb-include="service_item_aggregate">
    </div>

    <div class="bb-subcontent">

      <form name="booking_form" role="form" novalidate bb-form class="form-horizontal">

        <div ng-show="item_details.hasQuestions" ng-form name="booking_questions_form" class="bb-form" role="form" novalidate>

          <h2 class="booking-form-header">Other information</h2>

          <div class="form-group" ng-repeat="question in item_details.questions" ng-if="question.id != '17581' && question.currentlyShown" bb-question-line ng-class="{'has-error': booking_questions_form['q' + question.id].$invalid && (booking_questions_form['q' + question.id].$dirty || booking_form.submitted)}">
            <label for="{{question.id}}" class="control-label col-sm-4">{{question.name}}<span ng-show="question.required">*</span></label>
            <div class="col-sm-5">
              <input bb-question="question"/>
            </div>
            <div class="col-sm-offset-4 messages">
              <div class="error-message" ng-show="booking_questions_form['q' + question.id].$invalid && ( booking_questions_form['q' + question.id].$dirty || booking_form.submitted )">
                This field is required
              </div>
            </div> 
          </div>

        </div><!--booking_questions_form-->


      </form><!--booking_form-->


    </div>

    <div class="bb-step-navigation">
      <div class="row">
        <div class="col-sm-9 col-sm-push-3 text-right">
          <button type="button"  class="btn btn-primary pull-right" ng-click="confirm(booking_form) && validator.validateForm(booking_form) && checkReady() && routeReady()">Confirm</button>
        </div>
        <div class="col-sm-3 col-sm-pull-9">
          <button type="button" class="btn btn-default pull-left" bb-debounce ng-click="loadPreviousStep()" ng-show="bb.current_step > 1">Back</button>
        </div>
      </div>
    </div>

  </div>
</div>
