<div bb-checkout class="bb-checkout">

  <div class="row">
    <div ng-show="!total.$has('new_payment')" class="col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8">
      <div class="bb-subcontent">
        <div class="confirmation-header bb-confirmation-border-margin">
          <div ng-if="total && !total.containsWaitlistItems()">
            <h2>Booking Confirmation</h2>
            <p class="bb-confirmation-p-alignment">Thanks {{ total.client.first_name }}. Your booking is now confirmed. We have emailed you the details below.</p>
          </div>
           <div ng-if="total && total.containsWaitlistItems()">
            <h2>Confirmation</h2>
            <p class="bb-confirmation-p-alignment">Thanks {{ total.client.first_name }}. Your have successfully made the following bookings. We have you emailed you the details below.</p>
          </div>
          <div class="row hidden-print text-right">
            <button type="button" class="btn btn-link" onclick="window.print()"><span class="glyphicon glyphicon-print"></span> Print</button>
            <div bb-booking-export class="bb-booking-export"></div>
          </div>
        </div>
        <div bb-include="order_summary">
        </div>
      </div>
    </div>
  </div>

  <div ng-if="total.$has('new_payment')" class="col-sm-12">
    <div ng-if="total.items.length == 1" bb-include="service_item_aggregate">
    </div>
    <div ng-if="total.items.length > 1" bb-include="payment_total_summary"></div>
    <div ng-if="total.$has('new_payment')" class="bb-checkout-pay-button-div">
      <div bb-payment-button 
        value="Pay" 
        class="btn btn-primary" 
        total="total" 
        bb="bb"
        decide-next-page="decideNextPage">
      </div>
    </div>
  </div>

</div>

<div class="bb-step-navigation">
</div>

<div ng-show="isLoaded" class="powered-by visible-print">
  <p>Bookings powered by <span style="color:#087f94">booking</span><span style="color:#88c66f">bug</p>
  <a href="//www.bookingbug.com" style="text-decoration:none" target="_blank"></a>
</div>
