<div bb-events="{mode: 2}">

  <div class="page-header">
    <h1>Events at {{company.name}}</h1>
  </div>

  <div class="bb-month-picker" bb-month-picker day-data="item_dates">
    <div class="bb-month-nav">
      <button type="button" class="btn btn-icon btn-xl month-prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only">Previous</span>
      </button>
    </div>
    <div class="bb-months">

      <div bb-slick="[{breakpoint: 920, settings: {slidesToShow: 1}},{breakpoint: 1199, settings: {slidesToShow: 2}}]"></div>

    </div>

    <div class="bb-month-nav">
      <button type="button" class="btn btn-icon btn-xl month-next">
        <span class="sr-only">Next</span> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </button>
    </div>

  </div>

  <div class="events" ng-show="items" bb-scroll-to="page:changed" bb-always-scroll>

    <div bb-include="filter">
    </div>

    <div class="panel panel-default bb-filter-summary">
      <span ng-show="!filter_active">Showing all events</span>
      <span ng-show="filter_active">Showing filtered events</span>    
      <div class="pull-right">
        {{pagination.summary}} Events
      </div>
    </div>

   <!--  Gift Cert Button (Needs Styling) -->
   <div ng-if="bb.company_settings.has_vouchers">
      <button type="button" ng-click="showPage('deal_list')" class="btn btn-primary btn-block">
        <span>Buy Gift Certificates </span>
      </button>
    </div>

    <div class="bb-events-list">
      <div class="panel panel-default bb-event-card" ng-repeat="item in filtered_items | startFrom: (pagination.current_page - 1) * pagination.page_size | limitTo: pagination.page_size" ng-show="pagination.num_items > 0">
        <div class="panel-body">  
          <div class="row vertical-row-align">
            <div class="col-sm-10 col-xs-12 event-details">
              <h3>{{item.description}}</h3>
              <ul class="event-summary-list">
                <li class="date-time">
                  <span class="bb-icon icon-calendar"></span>
                  <span>{{item.date.format('dddd Do MMMM YYYY')}} at <span class="event-time">{{item.date.format('h[:]mma')}}</span></span>
                </li>
                <li class="location" ng-show="item.chain.address">
                  <span class="bb-icon icon-location"></span>
                  <span>{{item.chain.address | address_single_line}}</span>
                </li>
                <li class="tickets" ng-show="item.tickets && item.getSpacesLeft() > 0">
                  <span class="bb-icon icon-ticket"></span>
                  <span>{{item.getSpacesLeft()}} ticket<span ng-if="item.getSpacesLeft() > 1">s</span> remaining</span>
                </li>
                <li class="price" ng-show="item.tickets">
                  <span class="bb-icon icon-price"></span>
                  <span ng-show="item.price_range && (item.price_range.from != item.price_range.to)">From {{item.price_range.from | ipretty_price}}</span>
                  <span ng-show="item.price_range && (item.price_range.from == item.price_range.to)">{{item.price_range.from | ipretty_price}}</span>
                </li>
              </ul>
            </div>
            <div class="col-sm-2 event-select">
              <button type="button" ng-click="selectItem(item)" class="btn btn-primary btn-block" ng-disabled="item.getSpacesLeft() == 0 && !bb.company.settings.has_waitlists">
                <span ng-show="item.getSpacesLeft() > 0">Select</span>
                <div ng-show="item.getSpacesLeft() <= 0 && !bb.company.settings.has_waitlists">
                  <span class="status-sold-out">Sold out</span>
                </div>
                <div ng-show="item.getSpacesLeft() <= 0 && bb.company.settings.has_waitlists">
                  <span>Join Waitlist</span>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="panel panel-default"ng-show="pagination.num_items == 0">
        <div class="panel-body">
          <p>No events found</p>
        </div>
      </div>
    </div>

    <div ng-show="filtered_items.length > 9" class="bb-pagination">
      <pagination total-items="pagination.num_items" ng-model="pagination.current_page" items-per-page="pagination.page_size" max-size="pagination.max_size" boundary-links="true" rotate="false" num-pages="pagination.num_pages" ng-show="items" ng-change="pageChanged()"></pagination>
    </div>

    <div class="bb-step-navigation">
      <div class="row">
        <div class="col-sm-6 text-left">
          <button type="button" class="btn btn-default" bb-debounce ng-click="loadPreviousStep()" ng-show="bb.current_step > 1">Back</button>
        </div>
      </div>
    </div>

  </div>

</div>
