<div accordion close-others="true" class="bb-filters">
  <div accordion-group is-open="is_open" ng-class="{'expanded': is_open, 'selected': is_selected}" class="store-body">

    <div accordion-heading class="filter-header">
      <span>Filter</span>
      <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
    </div>

    <form class="form-inline">

      <div class="form-group">
        <label class="sr-only" for="event_group">Category</label>
        <select class="form-control" name="event_group" id="event_group" ng-model="filters.event_group" ng-options="event_group.name for (id, event_group) in event_groups" ng-change="filterChanged()">
          <option value="">Any Category</option>
        </select>
      </div>

      <div class="form-group">
        <label class="sr-only" for="date">Date</label>
        <div class="input-group date-picker">
          <!-- date format: http://docs.angularjs.org/api/ng.filter:date" -->
          <input type="text" ng-model="filters.date" class="form-control"
            bb-datepicker-popup="DD/MM/YYYY"
            datepicker-popup="dd/MM/yyyy"
            is-open="opened"
            min-date="today"
            on-date-change="filterDateChanged()"
            datepicker-options="{'starting-day': 1, 'show-button-bar': false}"
            show-weeks="false"
            show-button-bar="false"
            ng-readonly="display.xs"
            name="date"
            id="date"
            placeholder="Any Date"/>
          <span class="input-group-btn" ng-click="$event.preventDefault();$event.stopPropagation();opened=true">
            <button class="btn btn-default" type="submit" title="Pick date"><span class="glyphicon glyphicon-calendar"></span></button>
          </span>
        </div>
      </div>

      <div class="form-group">
        <label class="sr-only" for="price">Price</label>
        <select class="form-control" name="price" id="price" ng-model="filters.price" ng-options="price as (price | ipretty_price) for price in price_options" ng-change="filterChanged()">
          <option value="">Any Price</option>
        </select>
      </div>

      <div class="form-group" ng-repeat="select_filter in dynamic_filters.select" ng-show="has_company_questions">
        <label class="sr-only" for="event_group">{{select_filter.name}}</label>
        <select class="form-control" name="select_filter" id="select_filter" ng-model="dynamic_filters.values[select_filter.name]" ng-options="answer.name for answer in select_filter.question_items" ng-change="filterChanged()">
          <option value="">Any {{select_filter.name}}</option>
        </select>
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-link" ng-click="filters.hide_sold_out_events =! filters.hide_sold_out_events; filterChanged()">
          <span ng-hide="filters.hide_sold_out_events">Hide Sold Out Events</span>
          <span ng-show="filters.hide_sold_out_events">Show Sold Out Events</span>
        </button>
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-link" ng-click="resetFilters()">
          <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
          Reset
        </button>
      </div>

    </form>

  </div>
</div>