<div bb-total ng-init="checkStepTitle('Confirmed')" class="bb-checkout">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8">

      <div class="bb-subcontent">
        <div class="confirmation-header bb-confirmation-border-margin">
          <h2>Payment Confirmation</h2>
          <p class="bb-confirmation-p-alignment">Thanks {{ total.client.first_name }}. Your payment was successful. We have you emailed you the details below.</p>
          <div class="row hidden-print text-right">
            <button type="button" class="btn btn-link" onclick="window.print()"><span class="glyphicon glyphicon-print"></span> Print</button>
            <div bb-booking-export class="bb-booking-export"></div>
          </div>
        </div>

        <div bb-include="order_summary">
        </div>

      </div>

    </div>
  </div>
</div>

<div class="bb-step-navigation">
</div>

<div ng-show="isLoaded" class="powered-by visible-print">
  <p>Bookings powered by <span style="color:#087f94">booking</span><span style="color:#88c66f">bug</p>
  <a href="//www.bookingbug.com" style="text-decoration:none" target="_blank"></a>
</div>
